#nav-container p {
  font-size: 12px;
}

#nav-container a {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  transition: none;
}
#nav-container :hover {
  color: #171717;
}
#notice-container a {
  color: #0a66c2;
}
#notice-container :hover {
  text-decoration: underline;
}

#body div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  color: rgb(107, 107, 107);
  border: 1px solid rgb(102, 102, 102);
}
#body div a:hover {
  background-color: rgb(241, 241, 241);
}
#body section #login-container #google-logo:hover {
  background-color: #0b7ae9;
}
#body section #login-container #google-logo > p {
  color: white;
}

#body div :nth-child(1) {
  padding: 0;
}
#body div :nth-child(1) span {
  padding: 0.5rem 0.5rem;
}

@media (max-width: 640px) {
  nav #nav-container {
    gap: 3.5rem;
  }
  nav {
    justify-content: space-between;
  }
  nav div {
    margin-right: 0;
    transform: translateX(20px);
  }
  nav > a {
    transform: translateX(-100px);
  }
  nav a h1 {
    opacity: 0;
  }
  #body section > h1 {
    font-size: 1.2rem;
    width: 100vw;
    margin: 1rem auto;
    text-align: center;
  }
  #body #login-container {
    width: 52vw;
  }
}
@media (max-width: 1150px) {
  #nav-container {
    order: 2;
    flex-basis: 100%;
    justify-content: center;
    margin-top: 2rem;
    width: 100vw;
    gap: 5rem;
  }
  nav {
    justify-content: space-between;
  }
}
@media (max-width: 1023px) {
  #body #login-container {
    width: 40vw;
    margin: 1rem auto;
  }
}
@media (max-width: 767px) {
  nav > a {
    transform: translateX(-100px);
  }
  nav {
    justify-content: space-between;
  }
  nav div {
    margin-right: 2rem;
  }
  nav > a {
    margin-left: 0;
  }
  #linkedin-logo {
    opacity: 0;
    margin-left: 1rem;
  }
  #nav-container {
    order: 2;
    flex-basis: 100%;
    justify-content: center;
    margin-top: 2rem;
    width: 100vw;
    gap: 5rem;
  }

  #body {
    flex-direction: column;
  }
  #body section > h1 {
    font-size: 1.8rem;
    width: 75vw;
    margin-top: 1.5rem;
  }

  #login-container a h1 {
    font-size: 16px;
  }

  #login-container {
    width: 52vw;
    margin-left: 1rem;
  }
  #get-the-app {
    border-right: none;
  }
}
@media (min-width: 360px) and (max-width: 640px) {
  #body #login-container {
    width: 90vw;
    margin: 1rem auto;
  }
  #nav-container {
    overflow: scroll;
    gap: 0;
  }
  nav {
    justify-content: flex-start;
  }
  nav div {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 410px) {
  nav div {
    transform: translateX(-20px);
  }
}
@media (max-width: 367px) {
  nav  div{
   flex-wrap: nowrap;
   
  }
}
